<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul and Jeremy Autos Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Paul and Jeremy Autos Database</h1>
    </header>
    <nav>
        <a href="{{ url_for('root') }}">Cars</a>
        <a href="{{ url_for('customers') }}">Customers</a>
        <a href="{{ url_for('employees') }}">Employees</a>
        <a href="{{ url_for('transactions') }}">Transactions</a>
        <a href="{{ url_for('transaction_details') }}">Transaction Details</a>
        <a href="{{ url_for('transaction_types') }}">Transaction Types</a>
        <a href="{{ url_for('conditions') }}">Car Conditions</a>
    </nav>
    <hr class="rounded">
    
    <h2>Browse Car Conditions</h2>
    <div class="table">
        <table>
            <tbody>
                <tr>
                    <th>Car Condition ID</th>
                    <th>Description</th>
                    <th>Modify</th>
                </tr>
                {% for condition in data %}
                    <tr>
                        <td>{{ condition['conditionID'] }}</td>
                        <td>{{ condition['description'] }}</td>
                        <td>
                            <a href="{{ url_for('edit_condition', conditionID=condition['conditionID']) }}">Edit</a>
                            <a href="{{ url_for('delete_condition', conditionID=condition['conditionID']) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <button class="create_button" onclick="window.location.href='{{ url_for('create_condition') }}'">Create Car Condition</button>
</body>
</html>
