<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul and Jeremy Autos Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Paul and Jeremy Autos Database</h1>
    </header>
    <nav>
        <a href="{{ url_for('root') }}">Cars</a>
        <a href="{{ url_for('customers') }}">Customers</a>
        <a href="{{ url_for('employees') }}">Employees</a>
        <a href="{{ url_for('transactions') }}">Transactions</a>
        <a href="{{ url_for('transaction_details') }}">Transaction Details</a>
        <a href="{{ url_for('transaction_types') }}">Transaction Types</a>
        <a href="{{ url_for('conditions') }}">Car Conditions</a>
    </nav>
    <hr class="rounded">

    <h2>Create Customer</h2>
    <form action="/create-customers" method="post">
    <div class="table">
        <table>
            <tbody>
                <tr>
                    <th>Customer Name</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                    <th>Address Line 1</th>
                    <th>Address Line 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postal Code</th>
                </tr>
                    <td><input type="text" name="name" required></td>
                    <td><input type="email" name="email" required></td>
                    <td><input type="number" name="number" required></td>
                    <td><input type="text" name="address1" required></td>
                    <td><input type="text" name="address2" value="None"></td>
                    <td><input type="text" name="city" required></td>
                    <td><input type="text" name="state"></td>
                    <td><input type="number" name="postal"></td>
                    <td>
                        <button type="submit">Create</button>
                        <a href="{{ url_for('customers') }}">Cancel</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>


</body>
</html>