<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul and Jeremy Autos Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Paul and Jeremy Autos Database</h1>
    </header>
    <nav>
        <a href="{{ url_for('root') }}">Cars</a>
        <a href="{{ url_for('customers') }}">Customers</a>
        <a href="{{ url_for('employees') }}">Employees</a>
        <a href="{{ url_for('transactions') }}">Transactions</a>
        <a href="{{ url_for('transaction_details') }}">Transaction Details</a>
        <a href="{{ url_for('transaction_types') }}">Transaction Types</a>
        <a href="{{ url_for('conditions') }}">Car Conditions</a>
    </nav>
    <hr class="rounded">

    <h2>Create Cars</h2>
    <form action="/create-cars" method="post">
    <div class="table">
        <table>
            <tbody>
                <tr>
                    <th>Condition</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Model Year</th>
                    <th>Date Acquired</th>
                    <th>In Lot</th>
                    <th>Rented Out</th>
                    <th>Color</th>
                    <th>Acquired Price</th>
                </tr>
                    <td>
                        <select name="condition" id="">
                            {% for condition in conditions %}
                                <option value={{ condition['conditionID'] }}>{{ condition['description'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="text" name="make" required></td>
                    <td><input type="text" name="model" required></td>
                    <td><input type="number" name="modelYear" value="None"></td>
                    <td><input type="date" name="dateAcquired" required></td>
                    <td><input type="checkbox" name="inLot" value="true" checked></td>
                    <td><input type="checkbox" name="rentedOut" value="false"></td>
                    <td><input type="text" name="color" required></td>
                    <td><input type="number" name="acquiredPrice" value="0"></td>



                    <td>
                        <button type="submit">Create</button>
                        <a href="{{ url_for('customers') }}">Cancel</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>


</body>
</html>