<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul and Jeremy Autos Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Paul and Jeremy Autos Database</h1>
    </header>
    <nav>
        <a href="{{ url_for('root') }}">Cars</a>
        <a href="{{ url_for('customers') }}">Customers</a>
        <a href="{{ url_for('employees') }}">Employees</a>
        <a href="{{ url_for('transactions') }}">Transactions</a>
        <a href="{{ url_for('transaction_details') }}">Transaction Details</a>
        <a href="{{ url_for('transaction_types') }}">Transaction Types</a>
        <a href="{{ url_for('conditions') }}">Car Conditions</a>
    </nav>
    <hr class="rounded">

    
    <h2>Edit Car Condition</h2>
    <form action="/edit-conditions/ {{ condition['conditionID'] }}" method="post">
    <div class="table">
        <table>
            <tbody>
                <tr>
                    <th>Car Condition ID</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td><input type="number" name="conditionID" value="{{condition['conditionID']}}"></td>
                    <td><input type="text" name="description" value="{{condition['conditionDescription']}} required"></td>
                    <td>
                        <button type="submit">">Apply</button>
                        <a href="{{ url_for('conditions') }}">Cancel</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>

</body>
</html>