<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul and Jeremy Autos Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Paul and Jeremy Autos Database</h1>
    </header>
    <nav>
        <a href="{{ url_for('root') }}">Cars</a>
        <a href="{{ url_for('customers') }}">Customers</a>
        <a href="{{ url_for('employees') }}">Employees</a>
        <a href="{{ url_for('transactions') }}">Transactions</a>
        <a href="{{ url_for('transaction_details') }}">Transaction Details</a>
        <a href="{{ url_for('transaction_types') }}">Transaction Types</a>
        <a href="{{ url_for('conditions') }}">Car Conditions</a>
    </nav>
    <hr class="rounded">

    <h2>Edit Transaction Details</h2>
    <form action="/edit-transaction-details/{{ transaction_detail['transactionDetailsID'] }}" method="post">
    <div class="table">
        <table>
            <tbody>
                <tr>
                    <th>Transaction Details ID</th>
                    <th>Transaction ID</th>
                    <th>Car</th>
                    <th>Transaction Type</th>
                    <th>Unit Price</th>
                </tr>
                <tr>
                    <td><input type="text" name="transactionDetailsID" value="{{transaction_detail['transactionDetailsID']}}"></td>
                    <td>
                        <select name="transactions" id="">
                            {% for transac in transactions %}
                                <option value={{ transac['transactionID'] }}>Transaction {{ transac['transactionID'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="cars" id="">
                            {% for car in cars %}
                                <option value={{ car['carID'] }}>{{ car['make'] }} {{ car['model'] }} - ID: {{ car['carID'] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="type" id="">
                            <option value="1" {% if transaction_detail['transactionTypeID'] == 1 %}selected{% endif %}>Sale</option>
                            <option value="2" {% if transaction_detail['transactionTypeID'] == 2 %}selected{% endif %}>Lease</option>
                        </select>
                    </td>
                    <td>
                        <input name="cost" type="text" value="{{ transaction_detail['unitPrice'] }}"></td>
                    <td>
                        <button type="submit">Apply Edit</button>
                        <a href="{{ url_for('transaction_details') }}">Cancel</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>

</body>
</html>