<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul and Jeremy Autos Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Paul and Jeremy Autos Database</h1>
    </header>
    <nav>
        <a href="{{ url_for('root') }}">Cars</a>
        <a href="{{ url_for('customers') }}">Customers</a>
        <a href="{{ url_for('employees') }}">Employees</a>
        <a href="{{ url_for('transactions') }}">Transactions</a>
        <a href="{{ url_for('transaction_details') }}">Transaction Details</a>
        <a href="{{ url_for('transaction_types') }}">Transaction Types</a>
        <a href="{{ url_for('conditions') }}">Car Conditions</a>
    </nav>
    <hr class="rounded">
    
    
    <h2>Browse Cars</h2>
    <div class="table">
        <table>
            <tbody>
                <tr>
                    <th>Car ID</th>
                    <th>Condition</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Model Year</th>
                    <th>Date Acquired</th>
                    <th>In Lot</th>
                    <th>Rented Out</th>
                    <th>Color</th>
                    <th>Acquired Price</th>
                    <th>Modify</th>
                </tr>
                {% for car in data %}
                    <tr>
                        <td>{{ car['carID'] }}</td>
                        <td>{{ conditions[car['conditionID'] - 1]['description'] }}</td>
                        <td>{{ car['make'] }}</td>
                        <td>{{ car['model' ]}}</td>
                        <td>{{ car['modelYear'] }}</td>
                        <td>{{ car['dateAcquired'] }}</td>
                        <td>{{ car['inLot'] }}</td>
                        <td>{{ car['rentedOut'] }}</td>
                        <td>{{ car['color'] }}</td>
                        <td>${{ car['acquiredPrice'] }}</td>
                        <td>
                            <a href="{{ url_for('edit_car', carID = car['carID']) }}">Edit</a>
                            <a href="{{ url_for('delete_cars', carID = car['carID'])}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <button class="create_button" onclick="window.location.href='{{ url_for('create_cars') }}'">Create Car</button>
</body>
</html>
